<!DOCTYPE html>
<html lang="en">

<head>
   {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BlogJura - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
              
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction - v1.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    {% include "navbar.html" %}


    {% block contenidoquecambia %}
      






    {% endblock contenidoquecambia %}
  

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Blog Jura</h3>
              <p>
                Mar de Plata <br>
                Buenos Aires - Argentina<br><br>
                <strong>Teléfono de contacto:</strong> +54 - 2235-291709<br>
                <strong>Email:</strong> consultas@blogjura<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Enlaces útiles</h4>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Publicar</a></li>
              <li><a href="#">Articulos</a></li>
              <li><a href="#">Autores</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Nuestros temas</h4>
            <ul>
              <li><a href="#">Derecho empresario</a></li>
              <li><a href="#">Blockchain</a></li>
              <li><a href="#">Legal Design</a></li>
              <li><a href="#">Inteligencia artificial</a></li>
              <li><a href="#">Sociedades</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Nuestros servicios</h4>
            <ul>
              <li><a href="#">Diseño jurídico de negocios</a></li>
              <li><a href="#">Negocios digitales</a></li>
              <li><a href="#">Tokenización de activos</a></li>
              <li><a href="#">Sociedades y DAOS</a></li>
              <li><a href="#">Contratos mercantiles</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Autores destacados</h4>
            <ul>
              <li><a href="#">Mauricio Cuello</a></li>
              <li><a href="#">Enzo M.Zotti </a></li>
              <li><a href="#">Gisele Cano</a></li>
              <li><a href="#">Juana Ortega</a></li>
              <li><a href="#">Mariana Del Bianco</a></li>
            </ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>AbogadosJura</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a
            href="https://themewagon.com">ThemeWagon</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}" ></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}" ></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}" ></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}" ></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}" ></script>
  {% comment %} <script src="{% static 'assets/vendor/php-email-form/validate.js' %}" ></script> {% endcomment %}

  <!-- Template Main JS File -->
  <script src=  "{% static 'assets/js/main.js' %} "></script>

</body>

</html>